<section class="footer">
    <nav>
      <section class="footermenu">
        <a href="/index">Home pagina</a>
      </section>
      <img src="./images/Logo Biker haaglanden.png" alt="logo biker" width="300px" height="300px" />
      <section class="footer-section-icons">
        <a href="https://www.youtube.com/watch?v=tnVs-rN6SaM" target="_blank"
          ><i class="fa fa-youtube" style="font-size: 48px" aria-hidden="true"></i
        ></a>
        <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" style="font-size: 48px" aria-hidden="true"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram" style="font-size: 48px" aria-hidden="true"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin-square" style="font-size: 48px" aria-hidden="true"></i></a>
        <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook-square" style="font-size: 48px" aria-hidden="true"></i></a>
        <a href="https://outlook.com" target="_blank"><i class="fa fa-envelope" style="font-size: 48px" aria-hidden="true"></i></a>
      </section>
    </nav>
  </section>
  <section class="footer-bottom">&copy; Pagina gemaakt door: Ab</section>