<section class="btntop">
    <nav>
      <ul>
        <li>
          <a href="/" class="active">Homepagina</a>
        </li>
        <li style="float: right"><a href="/fietsm">Database Fietsen</a></li>
        <li style="float: right">
          <a href="/medewerkerm">Database Medewerker</a>
        </li>
        <li style="float: right"><a href="/klantm">Database Klanten</a></li>
        <!-- <li style="float: right"><a href="/fiets">Fiets</a></li> -->
        <!-- <li style="float: right"><a href="/klant">Klant</a></li> -->

        <!-- <li style="float: right">
          <a href="/medewerker">Medewerker</a>
        </li> -->
      </ul>
    </nav>
</section>