<section class="btntop">
    <nav>
      <ul>
        <li>
          <a href="/" class="active" target="_blank">Homepagina</a>
        </li>
        <li style="float: right"><a href="/fiets">Fiets</a></li>
        <li style="float: right"><a href="/klant">Klant</a></li>
        <li style="float: right">
          <a href="./medewerker.html">Medewerker</a>
        </li>
        <li style="float: right">
          <a href="./accesoires.html">Accesoires</a>
        </li>
      </ul>
    </nav>
</section>