<main>
    <section>
        <h1>BIKER HAAGLANDEN</h1>
        <p>
            Biker Haaglanden staat bekend in de regio als een fietsverhuurbedrijf dat daarnaast de
            courante modellen uit de voorraad verhuurt aan de toeristen in de regio. Steeds meer
            mensen nemen contact op met Biker om fietsen te huren en ook voor de mogelijkheid om een
            reis te boeken. Biker biedt de klant de mogelijkheid om een fiets te reserveren.
        </p>
        <p>
            Naast de website is er ook veel te beleven in de winkels. Daar komen klanten altijd
            naartoe om hun fietsen te halen of in te leveren.Aan de balie is ook informatie krijgen.
            De baliemedewerkers zorgen ervoor dat klanten antwoord krijgen op hun vragen, en ze
            verzorgen ook de verkoop/ verhuur. De reparateurs richten zich op de kwaliteit van de
            fietsen en beheren de voorraad.
        </p>
    </section>

    <section>
        <% for(let i = 0; i < fiets.length; i++) { %>
            <%= fiets[i].type %>
        <% } %>

    </section>
</main>
