<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welkom op de verhuurpagina van biker haaglanden" />
    <title>Biker Homepagina <%= pageTitle %></title>
    <link rel="shortcut icon" href="images/Logo Biker haaglanden.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/vqt1jaf.css" />
  </head>
  <body>
    <header>
      <section class="btntop">
        <nav>
          <ul>
            <li>
              <a href="./index.html" class="active" target="_blank">Homepagina</a>
            </li>
            <li style="float: right"><a href="./fiets.html">Fiets</a></li>
            <li style="float: right"><a href="./klanten.html">Klant</a></li>
            <li style="float: right">
              <a href="./medewerker.html">Medewerker</a>
            </li>
            <li style="float: right">
              <a href="./accesoires.html">Accesoires</a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <section class="logo12">
      <a href="./index.html" target="_blank"
        ><img
          src="./images/Biker.com main background .png"
          alt="logo van biker haaglanden"
          width="1300"
          height="300"
      /></a>
    </section>
    <main>
      <section class="welkomsteksten">
        <h1>Welkom bij Biker Haagenlanden</h1>
        <h3>Dit is het startpunt om de beste fiets te verkrijgen wanneer jij dat wilt!</h3>
        <p>
          We maken een fiets huren makelijk en leuk. Want als je een fiets huurt wil je gewoon nergens
          aan denken behalve fietsen.
        </p>
        <p>
          Daarom ben je bij ons op het juiste adress, wij zorgen voor de fietsen dus zorg jij voor een
          onvergetelijke ervaring.
        </p>
        <br>
        <br>
      </section>
      <section class="maingridlayout">
        <form action="./fiets.html">
          <input class="submit" type="submit" value="Fietsen" />
        </form>
        <form action="./medewerker.html">
          <input class="submit" type="submit" value="Medewerkers" />
        </form>
        <form action="./accesoires.html">
          <input class="submit" type="submit" value="Accessoires" />
        </form>
        <form action="./klanten.html">
          <input class="submit" type="submit" value="Klanten" />
        </form>
      </section>
      <br>
      <br>
    </main>
    <footer>
      <section class="footer">
        <nav>
          <section class="footermenu">
            <a href="./index.html">Home pagina</a>
          </section>
          <img
            src="./images/Logo Biker haaglanden.png"
            alt="logo biker"
            width="300px"
            height="300px"
          />
          <section class="footer-section-icons">
            <a href="https://www.youtube.com/watch?v=tnVs-rN6SaM" target="_blank"
              ><i class="fa fa-youtube" style="font-size: 48px" aria-hidden="true"></i
            ></a>
            <a href="https://twitter.com" target="_blank"
              ><i class="fa fa-twitter" style="font-size: 48px" aria-hidden="true"></i
            ></a>
            <a href="https://instagram.com" target="_blank"
              ><i class="fa fa-instagram" style="font-size: 48px" aria-hidden="true"></i
            ></a>
            <a href="https://linkedin.com" target="_blank"
              ><i class="fa fa-linkedin-square" style="font-size: 48px" aria-hidden="true"></i
            ></a>
            <a href="https://facebook.com" target="_blank"
              ><i class="fa fa-facebook-square" style="font-size: 48px" aria-hidden="true"></i
            ></a>
            <a href="https://outlook.com" target="_blank"
              ><i class="fa fa-envelope" style="font-size: 48px" aria-hidden="true"></i
            ></a>
          </section>
        </nav>
      </section>
      <section class="footer-bottom">&copy; Pagina gemaakt door: Ab</section>
    </footer>
  </body>
</html>
