
    <main>
      <section class="welkomsteksten">
        <h1>Welkom bij Biker Haagenlanden</h1>
        <h3>Dit is het startpunt om de beste fiets te verkrijgen wanneer jij dat wilt!</h3>
        <p>We maken een fiets huren makelijk en leuk. Want als je een fiets huurt wil je gewoon nergens aan denken behalve fietsen.</p>
        <p>Daarom ben je bij ons op het juiste adress, wij zorgen voor de fietsen dus zorg jij voor een onvergetelijke ervaring.</p>
        <br />
        <br />
      </section>
      <section class="maingridlayout">
        <form action="./fiets.html">
          <input class="submit" type="submit" value="Fietsen" />
        </form>
        <form action="./medewerker.html">
          <input class="submit" type="submit" value="Medewerkers" />
        </form>
        <form action="./accesoires.html">
          <input class="submit" type="submit" value="Accessoires" />
        </form>
        <form action="./klanten.html">
          <input class="submit" type="submit" value="Klanten" />
        </form>
      </section>
    </main>
