<main>
  <section class="med-titel">
    <h1>MEDEWERKERS</h1>
    <p>Hier komt een veld tot betrekking met de database Medewerkers, bijvoorbeel de naam het adres en de geboorte datum</p>
  </section>

  <section class="med-tafel">
    <table>
      <thead>
        <tr>
          <th scope="row">Gegevens</th>
          <td class="med-data" colspan="2">per werknemer</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Voornaam</th>
          <td class="med-data" colspan="2">medewerker.voornaam[i]</td>
        </tr>
        <tr>
          <th scope="row">Achternaam</th>
          <td class="med-data" colspan="2">medewerker.achternaamnaam[i]</td>
        </tr>
        <tr>
          <th scope="row">Geboortedatum</th>
          <td class="med-data" colspan="2">medewerker.geboortedatum[i]</td>
        </tr>
        <tr>
          <th scope="row">Functie</th>
          <td class="med-data">medewerker.functie[i]</td>
        </tr>
        <tr>
          <th scope="row">Login naam</th>
          <td class="med-data" colspan="2">medewerker.login_naam[i]</td>
        </tr>
        <tr>
          <th scope="row">Paswoord</th>
          <td class="med-data" colspan="2">medewerker.p[i]</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
